          <tr>
              <td><%= row.tid %></td>
              <td><%= row.devicename %></td>
              <td><%= row.srclang %></td>
              <td><%= row.targetlang %></td>
              <td><span data-feather="play"></span> </td>
              <td><%= row.srclangtext %></td>
              <td><%= row.targetlangtext %></td>
              <td><%= row.userid %></td>
              <td><%= row.ticketid %></td>
            </tr>

